.App {
  margin-top: 70px;
  display: flex;
}

.topbar {
  /* margin-top: -25px; */
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #a8dadc;
  color: white;
   align-items: center;
  text-align: center; 
  display: flex;
  justify-content: space-evenly;

}
.topbar input {
  height: 26px;
  width: 200px;
}
.login{
  width: 64px;
  height: 32px;
}
.more .cart:hover {
  cursor: pointer;
}

.sidebar-menu {
  padding-left: 10px;
  padding-top: 5px;
  flex: 0.3;
  flex-direction: row;
}

.contents {
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 5px;
  flex: 0.7;
}

.card-view {
  justify-content: space-between;
  
}

.contents button {
  align-items: center;
  text-align: center;
  margin: 20px;
}

.image-grid{
  flex-wrap: wrap;
  display: inline;
}